html,
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #c0c0c0;
  color: #000;
  font-size: 16px;
}
a {
  color: #0000ff;
  text-decoration: underline;
}
a:visited {
  color: #800080;
}
a:active {
  color: #ff0000;
}

table {
  border: 1px solid;
  border-color: #d3d3d3 #404040 #404040 #d3d3d3;
}
th,
td {
  padding: 2px;
  margin: 2px;
}
th:first-child,
td:first-child {
  margin-left: 0;
}

th.last-child,
td:last-child {
  margin-right: 0;
}

tr:first-child {
  th,
  td {
    margin-top: 0;
  }
}
tr:last-child {
  th,
  td {
    margin-bottom: 0;
  }
}

td,
th,
input,
textarea {
  border: 1px solid;
  border-color: #404040 #d3d3d3 #d3d3d3 #404040;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #c0c0c0;
  border: 1px solid;
  border-color: #d3d3d3 #404040 #404040 #d3d3d3;
}

p,
table,
form {
  margin-bottom: 2em;
}
