html,
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #c0c0c0;
  color: #000;
  font-size: 16px;
}
a {
  color: #0000ff;
  text-decoration: underline;
}
a:visited {
  color: #800080;
}
a:active {
  color: #ff0000;
}

table {
  border: 1px solid;
  border-color: #d3d3d3 #404040 #404040 #d3d3d3;
}
thead,
tbody,
tr,
th,
td {
  border: inherit;
  margin: inherit;
  padding: inherit;
}
th,
td {
  padding: 4px;
  margin: 4px;
  border: inherit;
}

input,
textarea,
button,
select {
  border: 1px solid;
}

input,
textarea,
th,
td {
  border-color: #404040 #d3d3d3 #d3d3d3 #404040;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #c0c0c0;
  border-color: #d3d3d3 #404040 #404040 #d3d3d3;
}

p,
table,
form {
  margin-bottom: 2em;
}

img.photo {
  image-rendering: pixelated;
}

img.corrupt {
  background-size: 105% 95%;
  background-repeat: no-repeat;
  position: relative;
}

img.corrupt::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  clip-path: polygon(0 70%, 100% 72%, 100% 100%, 0 98%);
  transform: translateX(8px);
  opacity: 0.7;
  mix-blend-mode: screen;
}

