---
layout: null
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index of {{ page.url }}</title>
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/retro.css' | absolute_url }}" />
    <style>
        html,body {
            background-color: white;
        }
        table,thead,tbody,tr,th,td {
            border: 0
        }
    </style>
</head>
{% assign all_files = "" %}
<body>
    {% for page in site.pages %}{% unless page.url == "/" %}{% assign all_files = all_files | append: page.name | append : "|"| append: page.url | append: "$" %}{% endunless %}{% endfor %}
    {% for file in site.static_files %}{% assign all_files = all_files | append: file.name | append: "|" | append: file.name | append: "$" %}{% endfor %}
    <h1>Index of {{ page.url }}</h1>
    <hr>
    <table border="0" cellpadding="0" cellspacing="0">
        <thead style="font-weight: normal;text-align: left;vertical-align: top;"">
        <th style=" width:35%">Name</th>
            <th style="width:25%">Last modified</th>
            <th style="width:10%">Size</th>
            <th style="width:20%">Description</th>
        </thead>
        <tbody>
            <tr>
                <td><a href="../">Parent Directory</a></td>
                <td>01-Jan-1999 12:00</td>
                <td>-</td>
                <td></td>
            </tr>{% assign all_files = all_files | split: "$" | sort %}{% for file in all_files %}
            <tr>
                <td><a href="{{ file | split: '|' | slice: 1  | join: '' | absolute_url }}">{{ file | split: '|' | slice: 0 }}</a></td>
                <td>{{ site.time | date: "%d-%b-%Y" }}</td>
                <td>-</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
{% assign all_pages = nil %}
</html>