---
layout: null
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <link rel="stylesheet" href="{{ '/retro.css' | absolute_url }}" />
</head>

<body>
    {{ content }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll("form").forEach((form) => {
                form.addEventListener("submit", form => alert("Thank ye!"));
                form.onsubmit = () => false;
            });
            document.querySelectorAll("a.mailto").forEach(a => {
                const href = a.getAttribute("href");
                let mailto = "";
                for (var i = href.length - 1; i >= 0; i--) {
                    mailto += href[i];
                }
                a.href = mailto;
            })
        });
    </script>
    <script src="{{ '/retro.js' | absolute_url }}"></script>
</body>

</html>